In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [175]:
dataset1=pd.read_csv('D:/99co/private-residential-property-price-index-base-quarter-2009-q1-100.csv')
dataset2=pd.read_csv('D:/99co/private-residential-property-price-index-by-type-of-property-base-quarter-2009-q1-100.csv',index_col='level_2')
dataset3=dataset2.copy()

In [176]:
dataset2=dataset2.drop(dataset2.loc[dataset2.index=='Landed'].index)

In [177]:
dataset2= dataset2.drop(['level_1'], axis=1)

In [178]:
dataset=pd.merge(dataset1,dataset2,on='quarter')

In [179]:
dataset=dataset.rename(columns={"value_x": "value", "value_y": "non_landed_value"})

In [180]:
dataset3 = dataset3.drop("Non-landed", axis=0)

In [181]:
dataset3= dataset3.drop(['level_1'], axis=1)

In [182]:
dataset_final=pd.merge(dataset,dataset3,on='quarter')

dataset_final=pd.merge(dataset,dataset3,on='quarter')

In [183]:
dataset_final=dataset_final.rename(columns={"value_x": "value", "value_y": "landed_value"})

In [184]:
dataset_final[['year','quarter']] = dataset_final.quarter.str.split("-",expand=True,)

In [185]:
column=['year','quarter','level_1','value','non_landed_value','landed_value']

In [186]:
dataset_final = dataset_final.reindex(columns=column)

In [187]:
dataset_final=dataset_final.replace({'Residential Properties': 0})

In [199]:
X=dataset_final.iloc[:,0:2].values
y=dataset_final.iloc[:,3:6].values

In [200]:
dataset_final

     year quarter  level_1  value  non_landed_value  landed_value
0    1975      Q1        0    8.9              10.5           7.4
1    1975      Q2        0    9.1              11.2           7.7
2    1975      Q3        0    9.1              11.5           7.8
3    1975      Q4        0    9.1              11.5           7.9
4    1976      Q1        0    9.5              11.5           7.9
5    1976      Q2        0    9.5              11.7           8.0
6    1976      Q3        0    9.8              11.7           8.0
7    1976      Q4        0    9.5              11.5           8.0
8    1977      Q1        0    9.5              11.5           7.9
9    1977      Q2        0    9.5              11.5           7.9
10   1977      Q3        0    9.5              11.5           7.7
11   1977      Q4        0    9.1              11.5           7.6
12   1978      Q1        0    9.1              11.5           7.5
13   1978      Q2        0    9.5              11.7           7.6
14   1978      Q3        0    9.5              11.7           7.9
15   1978      Q4        0    9.8              12.1           7.9
16   1979      Q1        0   10.4              12.7           8.4
17   1979      Q2        0   10.9              13.3           9.0
18   1979      Q3        0   11.9              14.6           9.8
19   1979      Q4        0   12.7              15.8          10.6
20   1980      Q1        0   15.1              18.9          12.3
21   1980      Q2        0   17.7              22.0          14.3
22   1980      Q3        0   20.4              25.8          16.2
23   1980      Q4        0   23.9              31.0          18.7
24   1981      Q1        0   30.5              39.6          23.7
25   1981      Q2        0   34.6              44.3          27.3
26   1981      Q3        0   34.0              43.1          27.4
27   1981      Q4        0   32.2              40.0          26.4
28   1982      Q1        0   32.0              38.7          27.0
29   1982      Q2        0   32.8              39.0          28.2
..    ...     ...      ...    ...               ...           ...
148  2012      Q1        0  147.2             141.0         171.2
149  2012      Q2        0  147.9             141.6         171.9
150  2012      Q3        0  148.8             142.3         173.9
151  2012      Q4        0  151.5             144.8         177.0
152  2013      Q1        0  152.4             145.9         177.8
153  2013      Q2        0  154.0             148.0         178.4
154  2013      Q3        0  154.6             148.9         178.9
155  2013      Q4        0  153.2             147.6         177.1
156  2014      Q1        0  151.3             145.7         175.9
157  2014      Q2        0  149.7             144.5         172.9
158  2014      Q3        0  148.6             143.9         169.8
159  2014      Q4        0  147.0             142.5         167.6
160  2015      Q1        0  145.5             140.9         166.1
161  2015      Q2        0  144.2             139.8         164.4
162  2015      Q3        0  142.3             137.7         163.7
163  2015      Q4        0  141.6             137.4         160.8
164  2016      Q1        0  140.6             136.6         159.0
165  2016      Q2        0  140.0             136.5         156.6
166  2016      Q3        0  137.9             134.9         152.4
167  2016      Q4        0  137.2             133.8         153.6
168  2017      Q1        0  136.7             133.8         150.8
169  2017      Q2        0  136.6             133.7         150.3
170  2017      Q3        0  137.6             134.5         152.1
171  2017      Q4        0  138.7             135.6         152.9
172  2018      Q1        0  144.1             141.6         155.8
173  2018      Q2        0  149.0             146.1         162.2
174  2018      Q3        0  149.7             146.1         165.9
175  2018      Q4        0  149.6             146.8         162.6
176  2019      Q1        0  148.6             145.2         164.4
177  2019      Q2        0  150.8             148.1         164.2

[178 rows x 6 columns]

In [201]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])
"""onehotencoder = OneHotEncoder(categorical_features = [1])
X[:, 1]= onehotencoder.fit_transform(X[:, 1]).toarray()"""

'onehotencoder = OneHotEncoder(categorical_features = [1])\nX[:, 1]= onehotencoder.fit_transform(X[:, 1]).toarray()'

In [202]:
y

array([[  8.9,  10.5,   7.4],
       [  9.1,  11.2,   7.7],
       [  9.1,  11.5,   7.8],
       [  9.1,  11.5,   7.9],
       [  9.5,  11.5,   7.9],
       [  9.5,  11.7,   8. ],
       [  9.8,  11.7,   8. ],
       [  9.5,  11.5,   8. ],
       [  9.5,  11.5,   7.9],
       [  9.5,  11.5,   7.9],
       [  9.5,  11.5,   7.7],
       [  9.1,  11.5,   7.6],
       [  9.1,  11.5,   7.5],
       [  9.5,  11.7,   7.6],
       [  9.5,  11.7,   7.9],
       [  9.8,  12.1,   7.9],
       [ 10.4,  12.7,   8.4],
       [ 10.9,  13.3,   9. ],
       [ 11.9,  14.6,   9.8],
       [ 12.7,  15.8,  10.6],
       [ 15.1,  18.9,  12.3],
       [ 17.7,  22. ,  14.3],
       [ 20.4,  25.8,  16.2],
       [ 23.9,  31. ,  18.7],
       [ 30.5,  39.6,  23.7],
       [ 34.6,  44.3,  27.3],
       [ 34. ,  43.1,  27.4],
       [ 32.2,  40. ,  26.4],
       [ 32. ,  38.7,  27. ],
       [ 32.8,  39. ,  28.2],
       [ 33.5,  38.7,  29.2],
       [ 34.6,  39.6,  30.6],
       [ 36.1,  40.6,  32.6],
       [ 37.2,  41.2,  34. ],
       [ 37.5,  40.6,  35.4],
       [ 37.5,  39.6,  35.5],
       [ 37.2,  38.1,  36.9],
       [ 35.5,  35.4,  36.2],
       [ 34.6,  33.7,  35.8],
       [ 33.1,  33.1,  33.4],
       [ 31. ,  30.9,  31.8],
       [ 30.2,  31.3,  29.7],
       [ 28.7,  29.9,  28.2],
       [ 28.1,  28.5,  28.1],
       [ 26.3,  26.5,  26.1],
       [ 23.9,  23.5,  24.5],
       [ 25.3,  24.8,  26. ],
       [ 27.9,  26.5,  29.6],
       [ 28.5,  26.8,  30.4],
       [ 29.7,  28.3,  31.4],
       [ 32. ,  31. ,  33.6],
       [ 32. ,  31.4,  32.6],
       [ 31.4,  30.7,  32.6],
       [ 32.2,  31.6,  33.3],
       [ 32.6,  32.6,  33. ],
       [ 34. ,  34.4,  34. ],
       [ 34.5,  35.2,  34. ],
       [ 35.5,  36.4,  35. ],
       [ 37.7,  38.7,  36.9],
       [ 38.3,  39.4,  37.4],
       [ 40.9,  41.6,  40.3],
       [ 41.8,  43.1,  40.6],
       [ 42. ,  42.7,  41.5],
       [ 40.3,  41.8,  39. ],
       [ 42.1,  42.8,  41.8],
       [ 45.6,  46.7,  44.8],
       [ 46.8,  47.5,  46.5],
       [ 47.6,  47.7,  48.1],
       [ 49.9,  49.9,  50.5],
       [ 51.8,  52.7,  51.3],
       [ 53.8,  55.2,  52.7],
       [ 55.3,  56.3,  54.7],
       [ 58.3,  57.2,  60.4],
       [ 64.9,  61.6,  69.8],
       [ 71.1,  65.4,  79.4],
       [ 75.1,  68.5,  84.5],
       [ 82.1,  72.7,  95.2],
       [ 93.6,  83.4, 107.6],
       [104.5,  88.7, 125.8],
       [106.9,  92.3, 126.7],
       [109.8,  95.2, 129.6],
       [111.1,  96.8, 130.5],
       [112.7,  97.7, 133.2],
       [117.9, 105.5, 135.1],
       [122.3, 110.8, 138.4],
       [129.7, 122.2, 140.9],
       [127.2, 119.9, 137.8],
       [123.7, 118.8, 131.7],
       [119.2, 111.9, 129.9],
       [118.2, 110.9, 128.9],
       [113. , 106.2, 123.2],
       [108.4, 102.9, 116.8],
       [ 98.3,  93. , 106.3],
       [ 90.1,  85.4,  97.2],
       [ 78.3,  76.8,  81.3],
       [ 71.5,  71.2,  72.8],
       [ 75.4,  75.2,  76.5],
       [ 84.3,  83.5,  87. ],
       [ 91.1,  90.4,  93.8],
       [ 95.9,  95.1,  98.8],
       [ 98.9,  98.5, 100.7],
       [100.4, 100.4, 101. ],
       [ 97.6,  97.7,  98.5],
       [ 94.9,  94.2,  97.2],
       [ 91.1,  90. ,  94.4],
       [ 90.3,  89.8,  92. ],
       [ 87.6,  87.3,  88.9],
       [ 83.8,  82.7,  87. ],
       [ 82.8,  82. ,  85.4],
       [ 82.2,  81.4,  85. ],
       [ 82.6,  81.6,  85.4],
       [ 82.3,  81.3,  85.1],
       [ 81.6,  80.6,  84.4],
       [ 81.1,  80.2,  83.8],
       [ 80.7,  79.9,  83.2],
       [ 80.6,  79.9,  83.1],
       [ 80.3,  79.6,  82.7],
       [ 80.4,  79.6,  83. ],
       [ 80.7,  79.9,  83.3],
       [ 81.3,  80.8,  83.6],
       [ 81.9,  81.4,  84. ],
       [ 82.3,  81.9,  84.1],
       [ 83.3,  83.1,  84.8],
       [ 84.5,  84.4,  85.6],
       [ 85.8,  85.7,  86.8],
       [ 87.3,  87.2,  88.2],
       [ 89.6,  90. ,  89.2],
       [ 93.1,  93.8,  91.3],
       [ 97.6,  98.8,  94. ],
       [105.6, 107.1, 100.6],
       [114.4, 116. , 108.1],
       [122.1, 124.4, 112.7],
       [126.7, 129. , 117.1],
       [126.9, 129. , 117.8],
       [123.9, 125.8, 115.7],
       [116.4, 117.8, 110.1],
       [100. , 100. , 100. ],
       [ 95.3,  95.3,  95.3],
       [110.3, 110.5, 109.5],
       [118.4, 118.4, 118.6],
       [125.1, 124.3, 128.4],
       [131.7, 130.5, 136.4],
       [135.5, 132.6, 147. ],
       [139.2, 135. , 155.1],
       [142.3, 137.3, 161.1],
       [145.1, 139.2, 166.9],
       [147. , 140.8, 170.8],
       [147.4, 141.2, 171. ],
       [147.2, 141. , 171.2],
       [147.9, 141.6, 171.9],
       [148.8, 142.3, 173.9],
       [151.5, 144.8, 177. ],
       [152.4, 145.9, 177.8],
       [154. , 148. , 178.4],
       [154.6, 148.9, 178.9],
       [153.2, 147.6, 177.1],
       [151.3, 145.7, 175.9],
       [149.7, 144.5, 172.9],
       [148.6, 143.9, 169.8],
       [147. , 142.5, 167.6],
       [145.5, 140.9, 166.1],
       [144.2, 139.8, 164.4],
       [142.3, 137.7, 163.7],
       [141.6, 137.4, 160.8],
       [140.6, 136.6, 159. ],
       [140. , 136.5, 156.6],
       [137.9, 134.9, 152.4],
       [137.2, 133.8, 153.6],
       [136.7, 133.8, 150.8],
       [136.6, 133.7, 150.3],
       [137.6, 134.5, 152.1],
       [138.7, 135.6, 152.9],
       [144.1, 141.6, 155.8],
       [149. , 146.1, 162.2],
       [149.7, 146.1, 165.9],
       [149.6, 146.8, 162.6],
       [148.6, 145.2, 164.4],
       [150.8, 148.1, 164.2]])

In [203]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =.3, random_state = 688)

In [204]:
"""import seaborn as sns
# visualize the relationship between the features and the response using scatterplots
sns.pairplot(dataset_final, x_vars=['year','quarter','level_1'], y_vars=['value','non_landed_value','landed_value'], size=7, aspect=0.7)"""

"import seaborn as sns\n# visualize the relationship between the features and the response using scatterplots\nsns.pairplot(dataset_final, x_vars=['year','quarter','level_1'], y_vars=['value','non_landed_value','landed_value'], size=7, aspect=0.7)"

In [205]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X, y)

y_pred=regressor.predict(X_test)

In [206]:
from sklearn.metrics import r2_score
acc=r2_score(y_pred,y_test)

In [207]:
acc

0.9070607433454344

In [208]:
y_pred

array([[  2.50321525,   4.84680916,  -2.22753337],
       [125.36221958, 122.01723636, 136.16701291],
       [ 97.4957692 ,  95.45142448, 104.7573354 ],
       [ 18.32300825,  20.01971554,  15.43171971],
       [ 47.78619713,  48.01625346,  48.81319259],
       [117.45232308, 114.43078317, 127.33738638],
       [152.28538606, 147.63804802, 166.59948327],
       [148.80207976, 144.31732154, 162.67327358],
       [ 45.24617473,  45.6405272 ,  45.86419006],
       [ 17.37972435,  19.07471532,  14.45451255],
       [112.37227829, 109.67933064, 121.43938132],
       [ 92.12589509,  90.24069755,  98.87671139],
       [137.40887696, 133.41014186, 149.91743735],
       [ 58.23611602,  57.97843292,  60.59182166],
       [129.78880978, 126.28296307, 141.07042976],
       [  6.92980546,   9.11253586,   2.67588348],
       [ 96.5524853 ,  94.50642426, 103.78012824],
       [ 46.84291322,  47.07125324,  47.83598543],
       [127.90224198, 124.39296263, 139.11601544],
       [ 84.50582791,  83.11351876,  90.0297038 ],
       [ 54.75280972,  54.65770644,  56.66561197],
       [  3.44649916,   5.79180938,  -1.25032621],
       [ 53.80952582,  53.71270621,  55.68840481],
       [ 23.40305304,  24.77116807,  21.32972477],
       [ 27.82964324,  29.03689477,  26.23314162],
       [ 22.45976914,  23.82616785,  20.35251761],
       [ 56.63937753,  56.54770688,  58.62002629],
       [101.9223594 ,  99.71715119, 109.66075225],
       [ 68.68603491,  67.94061238,  72.37045073],
       [ 29.42638173,  30.46762082,  28.20493699],
       [ 69.62931882,  68.8856126 ,  73.34765789],
       [ 13.89641805,  15.75398883,  10.52830286],
       [123.47565177, 120.12723592, 134.21259859],
       [ 81.6759762 ,  80.2785181 ,  87.09808232],
       [ 11.35639566,  13.37826257,   7.57930033],
       [115.85558459, 113.00005713, 125.36559101],
       [143.72203497, 139.56586901, 156.77526852],
       [104.46238179, 102.09287745, 112.60975478],
       [108.888972  , 106.35860416, 117.51317163],
       [ 12.95313415,  14.80898861,   9.5510957 ],
       [ 60.12268383,  59.86843336,  62.54623598],
       [ 95.60920139,  93.56142404, 102.80292108],
       [139.29544477, 135.3001423 , 151.87185167],
       [130.44226437, 126.76868889, 142.06501797],
       [ 19.91974674,  21.45044158,  17.40351508],
       [140.89218326, 136.73086835, 153.84364704],
       [  9.46982785,  11.48826213,   5.62488601],
       [150.68864757, 146.20732198, 164.6276879 ],
       [ 18.97646284,  20.50544136,  16.42630792],
       [ 70.57260272,  69.83061282,  74.32486505],
       [154.82540845, 150.01377429, 169.5484858 ],
       [ 32.25623344,  33.30262148,  31.13655847],
       [ 40.81958453,  41.37480049,  40.96077321],
       [ 48.72948103,  48.96125369,  49.79039975]])